<div class='signupPage'>

  <h1>Welcome to the signup page</h1>
  <hr>

  <form class="signupForm" action='/signup' method='post'>
    <label for='username'>Username:</label>
    <input class='input' type='text' id='username' name='username' placeholder='Your username' value='{{username}}'>

    <label for='email'>Email:</label>
    <input class='input' type='email' id='email' name='email' placeholder='Your email address' value='{{email}}'>

    <label for='password'>Password:</label>
    <input class='input' type='password' id='password' name='password' placeholder='********'>

    <button class="userButton" type='submit'>Create account</button> 
  </form>

  <a href='/login'>You already have an account? <b>Log In</b></a>
  <hr>

  {{#if errorMessage}}
    <p class="message">{{errorMessage}}</p>
  {{/if}}

  {{#if validationError}}
    <p class="message">{{validationError}}</p>
  {{/if}}

  {{#if duplicatedError}}
    <p class="message">{{duplicatedError}}</p>
  {{/if}}

</div>