<form action="/signup" method="post">
 <p>
   <label for="username">Ecribe tu usuario</label>
   <input type="text" name="username" id="username" value="{{userinput.username}}">
 </p>
 <p>
   <label for="password">Escribe una contraseña muy segura</label>
   <input type="password" name="password" id="password" value="{{userinput.password}}">
 </p>
 <p>
   <label for="password2">Repite tu contraseña</label>
   <input type="password" name="password2" id="password2" value="{{userinput.password2}}">
 </p>
 <input type="submit" value="signup">
</form>

<p>{{err}}</p>
<p>{{error.errmsg}}</p>
<p>{{warning}}</p>
<p>{{suggestions.[0]}}</p>