<h1 class="mt-2">Sign up here</h1>

<form action="/signup" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input value="{{user.username}}" type="text" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username" name="username">
    <div class="invalid-feedback">
        <p>{{errors.username}}</p>
    </div>
  </div>
  
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input value="{{user.email}}" type="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" name="email">
    <div class="invalid-feedback">
        <p>{{errors.email}}</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" name="password">
    <div class="invalid-feedback">
        <p>{{errors.password}}</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>