<div id="signup" class="container col-xxl-4">
  <form action="/signup" method="POST">
    <div class="m-3">
      <label for="input-username" class="form-label">Username</label>
      <input value="{{user.username}}" type="user" class="form-control {{#if errors.username}}is-invalid{{/if}}"
        id="input-username" name="username" aria-describedby="userlHelp">
      <div id="userlHelp" class="form-text">We'll never share your user-name with anyone else.</div>
      <div class="invalid-feedback">
        <p>{{errors.username}}</p>
      </div>
    </div>
    <div class="m-3">
      <label for="input-email" class="form-label">E-mail</label>
      <input value="{{user.email}}" type="email" class="form-control {{#if errors.email}}is-invalid{{/if}}"
        id="input-email" name="email" aria-describedby="userlHelp">
      <div class="invalid-feedback">
        <p>{{errors.email}}</p>
      </div>
    </div>
    <div class="m-3">
      <label for="input-password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
        id="input-password" placeholder="********">
      <div class="invalid-feedback">
        <p>{{errors.password}}</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary m-3">Create account</button>

    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
  </form>

</div>