{{#with userDates}}
<h1>Profile</h1>
<p>These are the data we have about you</p>
<p><b>Name:</b> {{this.name}} {{this.lastname}}</p>
<p><b>Country:</b> {{this.country}}</p>
<p><b>Email:</b> {{this.name}} {{this.email}}</p>
{{/with}}