<h1>{{user.name}} {{user.lastname}}</h1>
<p>These are the data we have about you</p>
<p><b>Name:</b> {{user.name}} {{user.lastname}}</p>
<p><b>Country:</b> {{user.country}}</p>
<p><b>Email:</b> {{user.username}}</p>