<div class="form-group">
  <label for="example{{name}}">{{label}}</label>
  <input type="{{type}}" class="form-control" id="exampleInput{{name}}" name="{{name}}" placeholder="{{placeholder}}"
    value="{{value}}" required>
</div>