<header style="display: flex; justify-contents: flex-end;">
  {{username}}
</header>

{{!-- <h1>Welcome {{username}}</h1>
<h2>Your encrypted password was {{password}}</h2>
<h2>Your new user generated has the id {{_id}}</h2>
<h2>{{createdAt}}</h2> --}}