<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    {{#if loggedInUser}}
      <div>
          Welcome, {{loggedInUser}}
          <a href="/private">Página privativa</a>
          <a href="/main">Main</a>
          <a href="/{{loggedId}}">My Page</a>
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
      </div>

      {{else}}
         <a href="/signup">Sign up</a>
         <a href="/login">Login</a>
         <a href="/main">Main</a>
      {{/if}}
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>