<div class="p-5">
    <h1><strong>{{user.name}}</strong></h1>
    <div class="pt-2">
        <h2><strong>Username: </strong>{{user.username}}</h2>
        <h2><strong>Email: </strong>{{user.email}}</h2>
        <h2><strong>Password: </strong>{{user.password}}</h2>
    </div>

    <a href="/user/{{user.id}}/edit" class="btn btn-primary btn-lg fw-bodler" role="button">Update User</a>
    
</div>