<div style="max-width: 450px;" class="mx-auto card p-4">
    <h3><b>Registro de usuario</b></h3>
    <form action="/register" method="POST" class="my-3">
        <div class="form-group has-validation mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" name="name" id="name" value="{{user.name}}" placeholder="Name" required>
            <div class="invalid-feedback">
                {{errors.name}}
            </div>
        </div>

        <div class="form-group has-validation mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control {{#if errors.username}}is-invalid{{/if}}" name="username" id="username" value="{{user.username}}" placeholder="Username" required>
            <div class="invalid-feedback">
                {{errors.username}}
            </div>
        </div>
        <div class="form-group has-validation mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" name="password" placeholder="*********" id="password" required>
            <div class="invalid-feedback">
                {{errors.password}}
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark btn-lg">Register</button>
        </div>
    </form>
</div>