<section id="{{page}}-header" class="hero {{style}}">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="/">{{title}}</a>
            </h1>
            <h2 class="subtitle">
                <a>{{subtitle}}</a>
                <a href="{{link}}"><strong>{{linkName}}</strong></a>
            </h2>
        </div>
    </div>
</section>


<section id="{{page}}-form" class="section columns">
    <div class="container column  is-two-thirds">
        <p class="subtitle is-5">{{message}}<a href={{action}}>{{alternative}}</a></p>
    </div>
</section>