<h2>Hi {{user.firstname}}, welcome to your profile!</h2>


<div>
    <h3>PERSONAL DATA:</h3>
    <p>First name: {{user.firstname}}</p>
    <p>Last name: {{user.lastname}}</p>
    <p>Age: {{user.age}}</p>
</div>

<div>
    <h3>ACCOUNT DATA:</h3>
    <p>E-mail: {{user.email}}</p>
    <p>User name: {{user.username}}</p>
    <p>Password: {{user.password}}</p>
</div>

