<div class="container">
  <form action="/register" method="POST">
    <div class="mb-3">
      <label for="text" class="form-label">Nombre de usuario</label>
      <input type="text" name="username" value="{{user.username}}" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username" required>
      {{#if errors.username}}
        <div class="invalid-feedback">
          {{errors.username}}
        </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" name="email" value="{{user.email}}" class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" required>
      <div class="form-text">No compartiremos tu email con terceros</div>
      {{#if errors.email}}
        <div class="invalid-feedback">
          {{errors.email}}
        </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" required>
      {{#if errors.password}}
        <div class="invalid-feedback">
          {{errors.password}}
        </div>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>